<!-- <p>scheduled-pending-purchase-display works!</p>
<button  (click)="display()">aaa</button> -->



 <div class="mat-elevation-z8">
  
  <table mat-table [dataSource]="PurchaseTrnProduct" matSort>

     <!-- Checkbox Column -->

    <ng-container matColumnDef="Purchase Id">
      <th mat-header-cell *matHeaderCellDef> Purchase Id </th>
      <td mat-cell *matCellDef="let element"> {{element.purchase_id}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="Total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let element"> {{element.total_amount}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.delivery_address}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="Pin Code">
      <th mat-header-cell *matHeaderCellDef> Pin Code </th>
      <td mat-cell *matCellDef="let element"> {{element.pincode}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Items Count">
      <th mat-header-cell *matHeaderCellDef> Items Count </th>
      <td mat-cell *matCellDef="let element"> {{element.items_count}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element"> {{element.delivery_status}} </td>
    </ng-container>


    <ng-container matColumnDef="View">
      <th mat-header-cell *matHeaderCellDef> View</th>
      <td mat-cell *matCellDef="let purchaseList"> <button mat-button (click)="productDisplay(purchaseList.purchase_id)" [disabled]="purchaseList.delivery_status=='COMP'" >View</button> </td>
    </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="PurchaseTrnDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: PurchaseTrnDisplay;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<input type="submit" class="fadeIn fourth" (click)="DeliveryAssing()" value="RE-ASSIGN" [hidden]="Status=='COMP' || Status=='ADP' ">